<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cuahsi.his.ogc.Properties.Settings.hiscentralConnectionString" connectionString="Data Source=kyle.ucsd.edu;Initial Catalog=hiscentral;Persist Security Info=True;User ID=hiscentraluser" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
