<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="CUAHSIWebsiteConnectionString" connectionString="Data Source=waterdata.usu.edu;Initial Catalog=CUAHSIWebsite;User ID=&quot;Ravi Vegiraju&quot;;Password=RV@x3533" providerName="System.Data.SqlClient"/>
    <add name="CV10ConnectionString" connectionString="Data Source=waterdata.usu.edu;Initial Catalog=ODMCV;User ID=&quot;Ravi Vegiraju&quot;;Password=RV@x3533" providerName="System.Data.SqlClient"/>
    <add name="CV11ConnectionString" connectionString="Data Source=waterdata.usu.edu;Initial Catalog=ODMCV_1_1;User ID=&quot;Ravi Vegiraju&quot;;Password=RV@x3533" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <customErrors defaultRedirect="~/error.aspx">
      <error statusCode="403" redirect="error.aspx"/>
      <error statusCode="404" redirect="error.aspx"/>
    </customErrors>
    <membership defaultProvider="CuashiHisSqlMembershipProvider">
      <providers>
        <add connectionStringName="CUAHSIWebsiteConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="30" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="60" passwordStrengthRegularExpression="" name="CuashiHisSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <add name="CuashiHisSqlProfileProvider" connectionStringName="CUAHSIWebsiteConnectionString" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="FirstName" type="String"/>
        <add name="LastName" type="String"/>
        <add name="Organization" type="String"/>
        <add name="Designation" type="String"/>
        <add name="Department" type="String"/>
        <add name="Phone" type="String"/>
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="CuashiHisSqlRoleProvider">
      <providers>
        <add connectionStringName="CUAHSIWebsiteConnectionString" applicationName="/" name="CuashiHisSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="account.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>