<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="elmah.sqlserver" version="1.2" />
  <package id="HttpClient" version="0.3.0" />
  <package id="jQuery" version="1.7.2" />
  <package id="JsonValue" version="0.3.0" />
  <package id="log4net" version="2.0.0" />
  <package id="WebActivator" version="1.4.2" />
  <package id="WebApi.Core" version="0.3.0" />
  <package id="WebApi.CrudHttpSample" version="1.0" />
  <package id="WebApi.Enhancements" version="0.3.0" />
</packages>