<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ApplicationServices" 
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="elmah-sqlserver"
         connectionString="Data Source=****;User ID=****;Password=****;Initial Catalog=****;" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ODDB" connectionString="Data Source=disrupter.sdsc.edu;Initial Catalog=littlebear11;User=webservice;password=webservice"
        providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <!-- release-->
    <clear />
    <add key="network" value="UNDEFINEDnetwork" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="vocabulary" value="UNDEFINEDVocab" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="contactEmail" value="cuahsi@example.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="returnUndefinedUTCorLocal" value="UTC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Undefined (Default) - Return no offset, even if a UTC Offset is provided
       Local - Attempt to shift to Local time of server
       UTC - Return UTC Times
       -->
    <add key="GetValuesName" value="[YOUR DATASET] Observations" />
    <add key="serviceDescriptionPage" value="BasicData.htm" />
    <add key="serviceLevel" value="Developemental" />
    <!-- configuration settings -->
    <add key="externalGetValuesService" value="http://www.example.com/CUAHSIServices/CUAHSIServices" />
    <add key="requireAuthToken" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EncryptConnectionString" value="False" />
    <add key="clientIPUrl" value="http://www.ippages.com/xml/"/>
  </appSettings>
  <system.web>
    <compilation   debug="false" targetFramework="4.0" xdt:Transform="Replace" />
    
  </system.web>
  <wateroneflowAuthentication>
    <!-- release version
 -->
    <gatekeeper Assembely="WofAuthentication"
           Class="WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper"  xdt:Transform="Replace"/>
   
    <gatekeeperProperties  xdt:Transform="Replace">
      <add property="token" value="a"/>
    </gatekeeperProperties>
  </wateroneflowAuthentication>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <elmah>
    <errorLog  type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data"
              xdt:Transform="Replace"  />
    <security allowRemoteAccess="yes"  xdt:Transform="Insert"/>
  </elmah>
</configuration>