<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
       <section name="wateroneflowAuthentication" type="WaterOneFlow.Services.Gatekeeper.WaterOneFlowGatekeeperSection, WofAuthentication" allowDefinition="Everywhere" allowLocation="true"/>
 </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="elmah-sqlserver" connectionString="Data Source=****;User ID=****;Password=****;Initial Catalog=****;"
      providerName="System.Data.SqlClient" />
    <!--    <add name="ODDB" connectionString="Data Source=.\SQLEXPRESS;Database=LittleBear11;User=webservice;password=webservice"
      providerName="System.Data.SqlClient" />
-->
    <add name="ODDB" connectionString="Data Source=disrupter.sdsc.edu;Database=MAST_ODM11;User=webservice;password=webservice"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
 
  <appSettings>
    <clear/>
    <add key="network" value="LittleBearRiver"/> <!-- HIS central has this code-->
    <add key="vocabulary" value="LittleBearRiver"/>
    <add key="contactEmail" value="cuahsi@example.com"/>
    <add key="returnUndefinedUTCorLocal" value="UTC"/>
    <!-- Undefined (Default) - Return no offset, even if a UTC Offset is provided
       Local - Attempt to shift to Local time of server
       UTC - Return UTC Times
       -->
    <add key="GetValuesName" value="Local OD GetValues" />
    <add key="serviceLevel" value="Developemental" />
    <add key="serviceDescriptionPage" value="BasicData.htm" />
    <add key="asmxPage" value="cuahsi_1_0.asmx" />
    <add key="asmxPage_1_1" value="cuahsi_1_1.asmx" />
    <add key="UseODForInformation" value="true" />
    <add key="UseODForSeries" value="true" />
    <add key="UseODForValues" value="true" />
    <add key="externalGetValuesService" value="http://www7.ncdc.noaa.gov/CUAHSIServices/CUAHSIServices" />
    <add key="requireAuthToken" value="false" />
    <add key="defaultSpatialReferenceSystemSRSID" value="4326" />
    <add key="SRSPrefix" value="EPSG:" />
    <add key="MinimalSQLDate" value="1753-01-01" />
    <add key="AdminIPAddress" value="127.0.0.1" />
    <add key="EncryptConnectionString" value="False" />
    <add key="clientIPUrl" value="http://www.ippages.com/xml/" />
  </appSettings>
  <location path="Configure.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="wfs/datacart.wfs">
    <system.web>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <system.web>
    <compilation   debug="true" targetFramework="4.0">
  </compilation>
    <urlMappings enabled="true">
      <add url="~/wfs/datacart.aspx" mappedUrl="~/DataCart.ashx"/>
    </urlMappings>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      <add verb="*" path="*.wfs" type="cuahsi.his.ogc.wfsHandler, WFSHandler"  validate="false"/>
    </httpHandlers>
    <webServices>
      <wsdlHelpGenerator href="DefaultWsdlHelpGenerator_xmlHttp.aspx"/>
      <protocols>
        <add name="HttpSoap"/>
        <!--   <add name="HttpPost" />
        <add name="HttpGet" /> -->
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GenericWebservice.ExampleDataAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="waterml2Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="waterml2Behavior" name="waterml2">
        <endpoint address="" binding="webHttpBinding" contract="Iwaterml2" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="GenericWebservice.ExampleData">
        <endpoint address="" behaviorConfiguration="GenericWebservice.ExampleDataAspNetAjaxBehavior"
          binding="webHttpBinding" contract="GenericWebservice.ExampleData" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      <add name="wfs" verb="*" path="*.wfs" type="cuahsi.his.ogc.wfsHandler, WFSHandler"  preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <elmah>
    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="50"/>
  </elmah>
  <wateroneflowAuthentication>
    <gatekeeper Assembely="WofAuthentication" Class="WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper"/>
    <!-- Two options at present:
    WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper
    WaterOneFlow.Services.Gatekeeper.SingleTokenGatekeeper
    
    Class="WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper"
     - No gatekeeperProperties needed
     
    Class="WaterOneFlow.Services.Gatekeeper.AlwaysTrueGatekeeper"
     Requires:
       <add property="token" value="ABC123"/>
    -->
    <gatekeeperProperties>
      <add property="token" value="a"/>
    </gatekeeperProperties>
  </wateroneflowAuthentication>
 
</configuration>