<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cuahsi.hiscentral.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <cuahsi.hiscentral.Properties.Settings>
            <setting name="HisCentral_cuahsi_hiscentral_hiscentral" serializeAs="String">
                <value>http://hiscentral.cuahsi.org/webservices/hiscentral.asmx</value>
            </setting>
            <setting name="HisCentralServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://hiscentral.cuahsi.org/webservices/hiscentral.asmx</string>
                        <string>http://water.sdsc.edu/hiscentral/webservices/hiscentral.asmx</string>
                    </ArrayOfString>
                </value>
            </setting>
        </cuahsi.hiscentral.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
