<connectionStrings>
	<!-- copy to connectionStrings.config
edit as approriate
		<add name="CentralHISConnectionString" connectionString="Data Source=localhost,1433;Initial Catalog=HISCentral;User id=;password=" providerName="System.Data.SqlClient"/>
-->

		<add name="CentralHISConnectionString" connectionString="Data Source=localhost,1433;Initial Catalog=HISCentral;User id=;password=" providerName="System.Data.SqlClient"/>
		
  </connectionStrings>