<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HisCentralHarvester2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="HavestConnectionStrings.config">
   <!-- file contains overrides-->
  </connectionStrings>

  
  
  <applicationSettings >
    <HisCentralHarvester2.Properties.Settings>
      <setting name="HisCentralHarvester2_waterml_10_WaterOneFlow"
        serializeAs="String">
        <value>http://water.sdsc.edu/wateroneflow/NWIS/DailyValues.asmx</value>
      </setting>
      <setting name="HisCentralHarvester2_waterml_11_WaterOneFlow"
        serializeAs="String">
        <value>http://watershed.uta.edu/dallas_tarrant_co_mpe_hourly/cuahsi_1_1.asmx</value>
      </setting>
      <setting name="HisCentralHarvester2_waterml_10_old_WaterOneFlow"
        serializeAs="String">
        <value>http://icewater.usu.edu/littlebearriver/cuahsi_1_0.asmx</value>
      </setting>
      <setting name="outpath" serializeAs="String">
        <value>e:/temp/logs/</value>
        <!-- modify this on the server-->
      </setting>
    </HisCentralHarvester2.Properties.Settings>
  </applicationSettings>
</configuration>