<?xml version="1.0"?>
<configuration>
  <system.web>

  </system.web>
  <system.serviceModel>
   <services>
      <service
          name="WaterOneFlow.odws.v1_0.wcf.Service_1_0"
          behaviorConfiguration="ProperNameBehavior">
        <!-- use base address provided by host via appSettings -->

        <endpoint address="soap" name="WaterOneFlow"
                  binding="basicHttpBinding"
                  bindingNamespace="http://www.cuahsi.org/his/1.0/ws/"
        contract="WaterOneFlow.v1_0.IService_1_0"/>
        <endpoint address="soap12" name="WaterOneFlow1"
                  binding="wsHttpBinding" bindingConfiguration="wsHttpBind"
                  bindingNamespace="http://www.cuahsi.org/his/1.0/ws/"
                  contract="WaterOneFlow.v1_0.IService_1_0" >
          <identity>
            
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>
      <service
         name="WaterOneFlow.odws.v1_1.wcf.Service"
         behaviorConfiguration="ProperNameBehavior">
        <!-- use base address provided by host via appSettings -->
 
        <endpoint address="soap" name="WaterOneFlow" binding="basicHttpBinding"
                   bindingNamespace="http://www.cuahsi.org/his/1.1/ws/"
                  contract="WaterOneFlow.v1_1.IService" />
        <endpoint address="soap12" name="WaterOneFlow1" 
                  binding="wsHttpBinding"  bindingConfiguration="wsHttpBind"
                  bindingNamespace="http://www.cuahsi.org/his/1.1/ws/"
                  contract="WaterOneFlow.v1_1.IService" >
          <identity>

          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1" />
      </basicHttpBinding>
      <wsHttpBinding  >
        <binding name="wsHttpBind">
          <security mode="None" >
          <transport clientCredentialType="None"  proxyCredentialType="None"   />
            <message  clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false"/>
            
          </security>
          
        <!--  <reliableSession enabled="true" /> -->
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior
          name="ProperNameBehavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
           
        </behavior>
        
      </serviceBehaviors>

    </behaviors>
  </system.serviceModel>
</configuration>
