USE [ODMCV_1_1]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitsID] [int] NOT NULL,
	[UnitsName] [nvarchar](255) NOT NULL,
	[UnitsType] [nvarchar](255) NOT NULL,
	[UnitsAbbreviation] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Units] ([UnitsID], [UnitsName], [UnitsType], [UnitsAbbreviation]) VALUES (325, N'degree Celsius millimoles per cubic meter', N'Concentration', N'DegC mmol/m^3')
INSERT [dbo].[Units] ([UnitsID], [UnitsName], [UnitsType], [UnitsAbbreviation]) VALUES (326, N'millimoles per cubic meter', N'Concentration', N'mmol/m^3')
INSERT [dbo].[Units] ([UnitsID], [UnitsName], [UnitsType], [UnitsAbbreviation]) VALUES (327, N'millimoles per cubic meter squared', N'Concentration', N'(mmol/m^3)^2')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[TopicCategoryCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicCategoryCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TopicCategoryCV] ([Term], [Definition]) VALUES (N'Unknown', N'The topic category is unknown')
INSERT [dbo].[TopicCategoryCV] ([Term], [Definition]) VALUES (N'farming', N'Data associated with agricultural production')
INSERT [dbo].[TopicCategoryCV] ([Term], [Definition]) VALUES (N'biota', N'Data associated with biological organisms')
/****** Object:  Table [dbo].[temp_VerticalDatumCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_VerticalDatumCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_VerticalDatumCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The vertical datum is not known', N'rejected  ', N'E', CAST(0x00009944013A59D4 AS DateTime), N'This is a test', N'David Tarboton', N'david.tarboton@usu.edu', N'Do not accept this test')
INSERT [dbo].[temp_VerticalDatumCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The vertical datum is unknown', N'rejected  ', N'O', CAST(0x00009944013A59D4 AS DateTime), N'This is a test', N'David Tarboton', N'david.tarboton@usu.edu', N'Do not accept this test')
INSERT [dbo].[temp_VerticalDatumCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'NAVD83', N'North American Vertical Datum 1983', N'rejected  ', N'A', CAST(0x0000995300AB3B28 AS DateTime), N'We use Spatial Reference of NAD83/UTM Zone 18N', N'Jean Miller', N'jmiller@iagt.org', N'perhaps a couple of things to clarify
 
1) your NAD83/UTM Zone 18 N is a HORIZONTAL datum, not a vertical
 
2) there is no NAVD83, there is only a NAVD29 and NAVD88 and those are the only two VERTICAL datum we deal with.
 
Hope this helps')
/****** Object:  Table [dbo].[temp_VariableNameCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_VariableNameCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_VariableNameCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Gage height', N'Water level with regard to an arbitrary gage datum (also see Water depth for comparison)', N'approved  ', N'E', CAST(0x00009DA500D63710 AS DateTime), N'Stage height isn''t in the CV', N'Tim Whiteaker', N'twhit@mail.utexas.edu', N'OK - KATS')
INSERT [dbo].[temp_VariableNameCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Gage height', N'Water level with regard to an arbitrary gage datum (also see Stage Height and Water depth for comparison)', N'approved  ', N'O', CAST(0x00009DA500D63710 AS DateTime), N'Stage height isn''t in the CV', N'Tim Whiteaker', N'twhit@mail.utexas.edu', N'OK - KATS')
INSERT [dbo].[temp_VariableNameCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Ozone', N'O3', N'approved  ', N'A', CAST(0x00009DD100B6B50C AS DateTime), N'Tracking ozone.', N'Miguel Leon', N'leonmi@sas.upenn.edu', N'OK - KATS')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[temp_ValueTypeCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_ValueTypeCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_ValueTypeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The value type is not known', N'rejected  ', N'E', CAST(0x00009AD60174CFD8 AS DateTime), N'better wording', N'd', N'dtarb@cc.usu.edu', N'no way')
INSERT [dbo].[temp_ValueTypeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The value type is unknown', N'rejected  ', N'O', CAST(0x00009AD60174CFD8 AS DateTime), N'better wording', N'd', N'dtarb@cc.usu.edu', N'no way')
INSERT [dbo].[temp_ValueTypeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Calibration Value', N'A value used as part of the calibration of an instrument at a particular time.', N'approved  ', N'A', CAST(0x00009D4400D937D0 AS DateTime), N'TWDEF is using this value for it''s snow depth sensor.', N'Kim Schreuders', N'kim.schreuders@usu.edu', N'Approved')
/****** Object:  Table [dbo].[temp_Units]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_Units](
	[UnitsID] [int] NOT NULL,
	[UnitsName] [nvarchar](255) NOT NULL,
	[UnitsType] [nvarchar](255) NULL,
	[UnitsAbbreviation] [nvarchar](255) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_Units] ([UnitsID], [UnitsName], [UnitsType], [UnitsAbbreviation], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (302, N'fake units', N'length', N'fu', N'approved  ', N'A', CAST(0x0000994300B077C8 AS DateTime), N'test of the CV web system', N'David Tarboton', N'david.tarboton@usu.edu', N'I am temporarily accepting this to see if the system works.')
INSERT [dbo].[temp_Units] ([UnitsID], [UnitsName], [UnitsType], [UnitsAbbreviation], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (302, N'fake area units', N'area', N'fu', N'approved  ', N'E', CAST(0x0000994300B26B00 AS DateTime), N'This is a test of how to change the units.', N'David Tarboton', N'david.tarboton@usu.edu', N'Still testing.  I am accepting this change - but modifying it a but ')
INSERT [dbo].[temp_Units] ([UnitsID], [UnitsName], [UnitsType], [UnitsAbbreviation], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (302, N'fake units', N'length', N'fu', N'approved  ', N'O', CAST(0x0000994300B26B00 AS DateTime), N'This is a test of how to change the units.', N'David Tarboton', N'david.tarboton@usu.edu', N'Still testing.  I am accepting this change - but modifying it a but ')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[temp_TopicCategoryCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_TopicCategoryCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_TopicCategoryCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The topic category is not known', N'rejected  ', N'E', CAST(0x00009944013BE394 AS DateTime), N'another test', N'DGT', N'david.tarboton@gmail.com', N'reject this')
INSERT [dbo].[temp_TopicCategoryCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The topic category is unknown', N'rejected  ', N'O', CAST(0x00009944013BE394 AS DateTime), N'another test', N'DGT', N'david.tarboton@gmail.com', N'reject this')
/****** Object:  Table [dbo].[temp_SpeciationCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_SpeciationCV](
	[Term] [nvarchar](255) NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_SpeciationCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'worm', N'creepy crawly animal', N'approved  ', N'A', CAST(0x00009AD6016BED3C AS DateTime), N'to test system - ignore', N'david tarboton', N'david.tarboton@usu.edu', N'ok -temporarily')
INSERT [dbo].[temp_SpeciationCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'C', N'Expressed as carbon 2', N'approved  ', N'E', CAST(0x00009AD6016C57E0 AS DateTime), N'to test system - ignore', N'david tarboton', N'david.tarboton@usu.edu', N'accept temporarily')
INSERT [dbo].[temp_SpeciationCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'C', N'Expressed as carbon', N'approved  ', N'O', CAST(0x00009AD6016C57E0 AS DateTime), N'to test system - ignore', N'david tarboton', N'david.tarboton@usu.edu', N'accept temporarily')
/****** Object:  Table [dbo].[temp_SpatialReferences]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_SpatialReferences](
	[SpatialReferenceID] [int] NOT NULL,
	[SRSID] [int] NOT NULL,
	[SRSName] [nvarchar](255) NULL,
	[IsGeographic] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_SpatialReferences] ([SpatialReferenceID], [SRSID], [SRSName], [IsGeographic], [Notes], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (6, 26705, N'NAD27 / UTM zone 5N', 0, N'', N'rejected  ', N'D', CAST(0x0000994300A71FFC AS DateTime), N'because', N'jen', N'halcyongoddess@gmail.com', N'asdf')
INSERT [dbo].[temp_SpatialReferences] ([SpatialReferenceID], [SRSID], [SRSName], [IsGeographic], [Notes], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (9, 26708, N'NAD27 / UTM zone 8N', 0, N'', N'approved  ', N'E', CAST(0x0000994300AA1D38 AS DateTime), N'because', N'jenny', N'halcyongoddess@gmail.com', N'bhlbjlbjkbkl')
INSERT [dbo].[temp_SpatialReferences] ([SpatialReferenceID], [SRSID], [SRSName], [IsGeographic], [Notes], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (9, 26708, N'NAD27 / UTM zone 8N', 0, N'', N'approved  ', N'O', CAST(0x0000994300AA1D38 AS DateTime), N'because', N'jenny', N'halcyongoddess@gmail.com', N'bhlbjlbjkbkl')
/****** Object:  Table [dbo].[temp_SampleTypeCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_SampleTypeCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_SampleTypeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'No Sample', N'Sample not submitted to lab', N'approved  ', N'A', CAST(0x0000995300ABABA8 AS DateTime), N'We do not send samples to a lab.', N'Jean Miller', N'jmiller@iagt.org', N'This is a good idea.  I tweaked the wording a bit.  This can also be accommodated by leaving the SampleID NULL.')
/****** Object:  Table [dbo].[temp_SampleMediumCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_SampleMediumCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_SampleMediumCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Other', N'Sample medium not relavent in the context of the measurement', N'approved  ', N'A', CAST(0x0000995B00B71E84 AS DateTime), N'Medium for datalogger panel voltage and datalogger internal temperature.', N'Kim Schreuders', N'kimas@cc.usu.edu', N'OK')
INSERT [dbo].[temp_SampleMediumCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Snow', N'Sample taken from snow', N'approved  ', N'A', CAST(0x0000995B00B75A48 AS DateTime), N'Medium for snow depth.', N'Kim Schreuders', N'kimas@cc.usu.edu', N'OK')
INSERT [dbo].[temp_SampleMediumCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Surface Water', N'Observation in, of or sample taken from surface water such as a stream, river, lake, pond, reservoir, ocean, etc.', N'approved  ', N'E', CAST(0x0000995F00E83488 AS DateTime), N'To be more specific', N'David Tarboton', N'david.tarboton@usu.edu', N'OK')
/****** Object:  Table [dbo].[temp_GeneralCategoryCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_GeneralCategoryCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_GeneralCategoryCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The general category is not known', N'rejected  ', N'E', CAST(0x0000994300B853E4 AS DateTime), N'''This is a test', N'David Tarboton', N'david.tarboton@usu.edu', N'Reject this because it was a test')
INSERT [dbo].[temp_GeneralCategoryCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The general category is unknown', N'rejected  ', N'O', CAST(0x0000994300B853E4 AS DateTime), N'''This is a test', N'David Tarboton', N'david.tarboton@usu.edu', N'Reject this because it was a test')
/****** Object:  Table [dbo].[temp_DataTypeCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_DataTypeCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_DataTypeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Unknown', N'The data type is unknown', N'rejected  ', N'E', CAST(0x0000994300A60C98 AS DateTime), N'blah', N'jen', N'halcyongoddess@gmail.com', N'asdf')
INSERT [dbo].[temp_DataTypeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Not known', N'The data type is unknown', N'rejected  ', N'O', CAST(0x0000994300A60C98 AS DateTime), N'blah', N'jen', N'halcyongoddess@gmail.com', N'asdf')
INSERT [dbo].[temp_DataTypeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'Instantaneous', N'A quantity specified in an instant with sufficient frequency (small spacing) to be interpreted as an instantaneous record of the phenomenon.', N'rejected  ', N'A', CAST(0x0000995300AE5358 AS DateTime), N'Term not on list and is useful to our data.', N'Jean Miller', N'jmiller@iagt.org', N'Jean - We are saying no to this, because we interpret what you have written as consistent with what we are calling continuous.')
/****** Object:  Table [dbo].[temp_CVTESTER]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_CVTESTER](
	[sqlUpdateStatement] [varchar](2000) NULL,
	[time_stamp] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_CVTESTER] ([sqlUpdateStatement], [time_stamp]) VALUES (N'INSERT INTO DataTypeCV VALUES (''new term'','''')', CAST(0x0000994300AA7D50 AS DateTime))
INSERT [dbo].[temp_CVTESTER] ([sqlUpdateStatement], [time_stamp]) VALUES (N'UPDATE temp_DataTypeCV SET status = ''approved'', admin_notes = ''asdf'' WHERE CONVERT(VARCHAR,time_stamp) = ''Jun  4 2007  9:55AM''', CAST(0x0000994300AA7D50 AS DateTime))
INSERT [dbo].[temp_CVTESTER] ([sqlUpdateStatement], [time_stamp]) VALUES (N'UPDATE temp_SpatialReferences SET status = ''rejected'', admin_notes = ''asdf'' WHERE CONVERT(VARCHAR,time_stamp) = ''Jun  4 2007 10:08AM''', CAST(0x0000994300AAC148 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
/****** Object:  Table [dbo].[temp_CensorCodeCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_CensorCodeCV](
	[Term] [nvarchar](50) NULL,
	[Definition] [nvarchar](max) NULL,
	[status] [char](10) NULL,
	[action_flag] [char](1) NULL,
	[time_stamp] [datetime] NULL,
	[reason] [varchar](max) NULL,
	[name] [varchar](127) NULL,
	[email] [varchar](127) NULL,
	[admin_notes] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temp_CensorCodeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'lit', N'littler than', N'rejected  ', N'E', CAST(0x0000994300B44344 AS DateTime), N'This is another test of the CV system.', N'David Tarboton', N'david.tarboton@usu.edu', N'I am rejecting this change because it is not a good idea.  This was a test to see what happens when we reject a change.')
INSERT [dbo].[temp_CensorCodeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'lt', N'less than', N'rejected  ', N'O', CAST(0x0000994300B44344 AS DateTime), N'This is another test of the CV system.', N'David Tarboton', N'david.tarboton@usu.edu', N'I am rejecting this change because it is not a good idea.  This was a test to see what happens when we reject a change.')
INSERT [dbo].[temp_CensorCodeCV] ([Term], [Definition], [status], [action_flag], [time_stamp], [reason], [name], [email], [admin_notes]) VALUES (N'lt', N'less than', N'rejected  ', N'D', CAST(0x0000994300B60094 AS DateTime), N'Another test', N'David Tarboton', N'david.tarboton@usu.edu', N'I am rejecting this test. I am also putting some special characters in here to see if they work !@#$%^&*+-')
/****** Object:  Table [dbo].[SpeciationCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpeciationCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SpeciationCV] ([Term], [Definition]) VALUES (N'Unknown', N'Speciation is unknown')
INSERT [dbo].[SpeciationCV] ([Term], [Definition]) VALUES (N'Not Applicable', N'Speciation is not applicable')
INSERT [dbo].[SpeciationCV] ([Term], [Definition]) VALUES (N'C', N'Expressed as carbon')
/****** Object:  Table [dbo].[SpatialReferences]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpatialReferences](
	[SpatialReferenceID] [int] NOT NULL,
	[SRSID] [int] NULL,
	[SRSName] [nvarchar](255) NOT NULL,
	[IsGeographic] [bit] NULL,
	[Notes] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SpatialReferences] ([SpatialReferenceID], [SRSID], [SRSName], [IsGeographic], [Notes]) VALUES (1, 4267, N'NAD27', 1, NULL)
INSERT [dbo].[SpatialReferences] ([SpatialReferenceID], [SRSID], [SRSName], [IsGeographic], [Notes]) VALUES (2, 4269, N'NAD83', 1, NULL)
INSERT [dbo].[SpatialReferences] ([SpatialReferenceID], [SRSID], [SRSName], [IsGeographic], [Notes]) VALUES (3, 4326, N'WGS84', 1, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[SampleTypeCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleTypeCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SampleTypeCV] ([Term], [Definition]) VALUES (N'Unknown', N'The sample type is unknown')
INSERT [dbo].[SampleTypeCV] ([Term], [Definition]) VALUES (N'No Sample', N'There is no lab sample associated with this measurement')
INSERT [dbo].[SampleTypeCV] ([Term], [Definition]) VALUES (N'FD ', N' Foliage Digestion')
/****** Object:  Table [dbo].[SampleMediumCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleMediumCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SampleMediumCV] ([Term], [Definition]) VALUES (N'Unknown', N'The sample medium is unknown')
INSERT [dbo].[SampleMediumCV] ([Term], [Definition]) VALUES (N'Other', N'Sample medium other than those contained in the CV')
INSERT [dbo].[SampleMediumCV] ([Term], [Definition]) VALUES (N'Snow', N'Observation in, of or sample taken from snow')
/****** Object:  Table [dbo].[GeneralCategoryCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralCategoryCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GeneralCategoryCV] ([Term], [Definition]) VALUES (N'Unknown', N'The general category is unknown')
INSERT [dbo].[GeneralCategoryCV] ([Term], [Definition]) VALUES (N'Instrumentation', N'Data associated with instrumentation and instrument properties such as battery voltages, data logger temperatures, often useful for diagnosis.')
INSERT [dbo].[GeneralCategoryCV] ([Term], [Definition]) VALUES (N'Water Quality', N'Data associated with water quality variables or processes')
/****** Object:  Table [dbo].[DataTypeCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataTypeCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DataTypeCV] ([Term], [Definition]) VALUES (N'Unknown', N'The data type is unknown')
INSERT [dbo].[DataTypeCV] ([Term], [Definition]) VALUES (N'Median', N'The values represent the median over a time interval, such as daily median discharge or daily median temperature.')
INSERT [dbo].[DataTypeCV] ([Term], [Definition]) VALUES (N'Variance', N'The values represent the variance of a set of observations made over a time interval.  Variance computed using the unbiased formula SUM((Xi-mean)^2)/(n-1) are preferred.  The specific formula used to compute variance can be noted in the methods description.')
/****** Object:  Table [dbo].[CensorCodeCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CensorCodeCV](
	[Term] [nvarchar](50) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CensorCodeCV] ([Term], [Definition]) VALUES (N'lt', N'less than')
INSERT [dbo].[CensorCodeCV] ([Term], [Definition]) VALUES (N'gt', N'greater than')
INSERT [dbo].[CensorCodeCV] ([Term], [Definition]) VALUES (N'nc', N'not censored')
/****** Object:  Table [dbo].[VerticalDatumCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerticalDatumCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[VerticalDatumCV] ([Term], [Definition]) VALUES (N'Unknown', N'The vertical datum is unknown')
INSERT [dbo].[VerticalDatumCV] ([Term], [Definition]) VALUES (N'NAVD88', N'North American Vertical Datum of 1988')
INSERT [dbo].[VerticalDatumCV] ([Term], [Definition]) VALUES (N'NGVD29', N'National Geodetic Vertical Datum of 1929')
/****** Object:  Table [dbo].[VariableNameCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariableNameCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[VariableNameCV] ([Term], [Definition]) VALUES (N'19-Hexanoyloxyfucoxanthin', N'The phytoplankton pigment 19-Hexanoyloxyfucoxanthin')
INSERT [dbo].[VariableNameCV] ([Term], [Definition]) VALUES (N'9 cis-Neoxanthin', N'The phytoplankton pigment  9 cis-Neoxanthin')
INSERT [dbo].[VariableNameCV] ([Term], [Definition]) VALUES (N'Acid neutralizing capacity', N'Acid neutralizing capacity ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[ValueTypeCV]    Script Date: 01/27/2012 09:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValueTypeCV](
	[Term] [nvarchar](255) NOT NULL,
	[Definition] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ValueTypeCV] ([Term], [Definition]) VALUES (N'Unknown', N'The value type is unknown')
INSERT [dbo].[ValueTypeCV] ([Term], [Definition]) VALUES (N'Field Observation', N'Observation of a variable using a field instrument')
INSERT [dbo].[ValueTypeCV] ([Term], [Definition]) VALUES (N'Sample', N'Observation that is the result of analyzing a sample in a laboratory')
/****** Object:  StoredProcedure [dbo].[usp_updateCV]    Script Date: 01/27/2012 09:16:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_updateCV]
(
	@tablename varchar(127) = '',
	@field1 varchar(255) = '',
	@field2 varchar(255) = '',
	@field3 varchar(255) = '',
	@field4 varchar(255) = '',
	@field5 varchar(255) = '',
	@action_flag char(1) = 'A'
)

AS

BEGIN


IF @action_flag = 'A' BEGIN
	PRINT 'INSERT INTO ' + @tablename
END ELSE IF @action_flag = 'E' BEGIN
	PRINT 'UPDATE ' + @tablename + ' SET '
END ELSE IF @action_flag = 'D' BEGIN
	PRINT 'DELETE FROM ' + @tablename
END


END
GO
/****** Object:  StoredProcedure [dbo].[usp_RetrieveCV]    Script Date: 01/27/2012 09:16:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RetrieveCV]

AS

BEGIN

CREATE TABLE #CVs
(

	table_name varchar(127),
	status char(10),
	action_flag char(10),
	date_submitted datetime,
	cv varchar(2000)

)

INSERT INTO #CVs (table_name, status, action_flag, date_submitted, cv) 
(SELECT 'temp_Units', status,
CASE action_flag 
	WHEN 'A' THEN 'Add'
	WHEN 'D' THEN 'Delete'
	WHEN 'E' THEN 'Edit'
	WHEN 'O' THEN 'Original'
END,
time_stamp, 
CONVERT(VARCHAR,UnitsID)+','+UnitsName+','+UnitsType+','+UnitsAbbreviation
FROM temp_Units)

SELECT table_name, status, action_flag, date_submitted, cv FROM #CVs

END
GO
