<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HisCentralServicesList.Properties.Settings.CentralHISConnectionString"
      connectionString="Data Source=localhost,1433;Initial Catalog=HISCentral;User id=;password="
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>