<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HisCentralServicesList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HisCentralServicesList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HisCentralServicesList.Properties.Settings.CentralHISConnectionString" connectionString="Data Source=localhost,1433;Initial Catalog=HISCentral;User id=;password=" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <HisCentralServicesList.Properties.Settings>
            <setting name="HisCentralServicesList_org_cuahsi_hiscentral_hiscentral" serializeAs="String">
                <value>http://hiscentral.cuahsi.org/webservices/hiscentral.asmx</value>
            </setting>
        </HisCentralServicesList.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <HisCentralServicesList.Properties.Settings>
            <setting name="SqlGetNetworks" serializeAs="String">
                <value>  SELECT NetworkID
, NetworkName,NetworkTitle,ServiceWSDL,ServiceAbs,ContactName,ContactEmail
 ContactPhone,Organization,website,Citation Xmin,Xmax,Ymin,Ymax,ValueCount,
VariableCount,SiteCount,EarliestRec,LatestRec  
FROM HISNetworks where  (isPublic='true')


</value>
            </setting>
            <setting name="SqlGetSource" serializeAs="String">
                <value> SELECT top 1 ServCode,SiteCode,SiteName,VarCode,VarName,VarUnits,Vocabulary,Ontology,Concept
 ,Valuecount,StartDate,EndDate,Latitude,Longitude,IsRegular,TimeUnits,TimeStep,DataType,Medium
,MethodID,Method,QCLevelID,QCLevel,SourceID,SourceName,LocType,ServType,XLL,YLL,XUR,YUR,Location
,Variable,ReqsAuth,WofVersion,WaterMLURI,WFSURI,WMSURI,DAccessURI,StateName,Geometry,RecordType,OrgHier
,SerStatus,LastUpdate FROM hiscentral.dbo.v_ObservationsMetadata where sourceid = @Sourceid</value>
            </setting>
        </HisCentralServicesList.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
