<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="LocalServicesGroup">
      <section name="LocalServices" type="System.Configuration.NameValueSectionHandler,System,Version=1.1.4322.573,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <LocalServicesGroup>
    <LocalServices>
      <!-- uncomment out the following local services, replace them with the valid local service defined in your environment.-->
      <!-- e.g., using ArcCatalog, check on the WFS capability before publishing a map service-->
      <!--<add key="NWISDV" value="http://zye7/ArcGIS/services/CUAHSI_NWISDV/MapServer/WFSServer"></add>
      <add key="TCEQWaterQuality" value="http://zye7/ArcGIS/services/TCEQWaterQuality/MapServer/WFSServer"></add>-->
    </LocalServices>
  </LocalServicesGroup>
</configuration>