<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->   
    <connectionStrings>
      <add name="CentralHISConnectionString" 
           connectionString="Data Source=localhost,1433;Initial Catalog=HISCentral;User id=;password=" providerName="System.Data.SqlClient"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.net>
    <mailSettings xdt:Transform="Replace" >
      <smtp from="me@example.com">
        <network host="mail.example.com" password="example" userName="example"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <elmah>

    <errorLog type="Elmah.MemoryErrorLog, Elmah" size="50"
             xdt:Transform="Replace" />
    <security allowRemoteAccess="1"  xdt:Transform="Insert"/>
  </elmah>
</configuration>